.pio
.vscode/
.cache
.z*
.con*/
.cu*
*.csv
!partitions.csv
!partitions_pancake.csv
!partitions_marauder_v8.csv
*.md
*.txt
*.bin
**/build_info.h
*_builds/
.cl*
docs/
compile_commands.json
scripts/heap_analyzer.py
*.ski*
!./docs/images/*
